// main: ../style.less

.record {
    padding: 6.66rem 0;
    width: 100%;

    @media @tablet {
        padding: 4rem 0;
    }
}

.record__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}